body {
  background: #000000;
  background: -webkit-linear-gradient(to left, #000000 , #434343);
  background: linear-gradient(to left, #000000 , #434343);
  font-family: 'Oleo Script', cursive;
  letter-spacing: 1px;
}

body h1 {
  text-align: center;
  text-shadow: 1px 1px #007f00;
  font-family: 'Oleo Script', cursive;
}

i {
  cursor: pointer;
}

#investigator_num {
  font-weight: bold;
  color: green;
  text-shadow: 1px 1px black;
}

body .name, body .profession {
  font-weight: bold;
  color: #eee;
}

.profession {
  font-style: italic;
}

.sanity, .stamina, .clues {
  font-size: 2.5em;
  margin-right: 3px;
  text-shadow: 1px 1px black;
}

.sanity {
  color: #add8e6;
}

.stamina {
  color: #ffc0cb;
}

.clues {
  color: brown;
}

i.fa-lg {
  vertical-align: 0;
}

.fa-times, .fa-plus-square, .fa-minus-square {
  margin-left: 4px;
}

.fa-heartbeat, .fa-eye, .fa-search {
  margin-right: 8px;
}

.fa-heartbeat {
  color: #ffc0cb;
}

.fa-eye {
  color: #add8e6;
}

.fa-search {
  color: brown;
}

.fa-times {
  color: #808080;
  margin-left: 10px;
}

.fa-times:active {
  color: #404040;
}

.fa-plus-square {
  color: #00ff00;
}

.fa-plus-square:active {
  color: #008000;
}

.fa-minus-square {
  color: #ff0000;
}

.fa-minus-square:active {
  color: #800000;
}

.empty {
  display: none;
}

.investigator {
  margin-bottom: 20px;
  height: 200px;
}

#investigators {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  text-align: center;
}

select#investigator_select {
  width: auto;
  margin-left: 0;
}

#investigator_select, #random_investigator, #reset_button, #about_button {
  cursor: pointer;
  margin-left: 20px;
  height: 50px;
  margin-bottom: 8px;
}

#title {
  border: 5px solid #007f00;
}

h1.jumbotron {
  margin-bottom: 15px;
}

nav.navbar {
  margin-bottom: 15px;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.fa-bars {
  color: #eee;
}

#bs-example-navbar-collapse-1 {
  padding-left: 0;
  padding-right: 0;
}

@media(max-width:767px) {
  select#investigator_select {
    margin-left: 20px;
  }
}

.hidden {
  display: none;
}

#example_investigator {
  background: #000000;
  background: -webkit-linear-gradient(to left, #000000 , #434343);
  background: linear-gradient(to left, #000000 , #434343);
  padding: 5px;
  margin-bottom: 20px;
}

#about {
  background: #eee;
  border: 5px solid #5bc0de;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px
}

.instructions {
  color: yellow;
  font-style: italic;
}